/* 
 * Webfonts settings
 */

body {
  font-size: 1em;
}

@font-face {
    font-family: 'linux_biolinum_oregular';
    src: url('../fonts/linbiolinum_re-0.6.4-webfont.eot');
    src: url('../fonts/linbiolinum_re-0.6.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linbiolinum_re-0.6.4-webfont.woff') format('woff'),
         url('../fonts/linbiolinum_re-0.6.4-webfont.ttf') format('truetype'),
         url('../fonts/linbiolinum_re-0.6.4-webfont.svg#linux_biolinum_oregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#wrap {
	font-family: 'linux_biolinum_oregular';
}

/* End webfonts settings */

/* 
 * Region settings 
 */

#header #site-slogan {
  margin-top: 0.5em;
}

/* End region settings */

/* 
 * Typography settings
 */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* End typography settings */

/* 
 * Field settings 
 */

.field-type-taxonomy-term-reference {
  font-weight: bold;
  font-variant: small-caps;
}

#main .undecorated a,
#main .undecorated a:link,
#main .undecorated a:hover,
#main .undecorated a:active,
#main .undecorated a:visited {
  text-decoration: none;
}

/* End field settings */

.region-featured-left .block-block,
.region-featured-right .block-block {
  height: 12em;
}

#navigation ul, #navigation ul.sf-menu {
  width: auto;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

#breadcrumb {
  background-color: #fff;
  border: none;
}