/* Region settings */

#header #site-slogan {
  margin-top: 0.5em;
}

.resize {
  background: none;
}

/* End region settings */

/* Field settings */

.field-type-taxonomy-term-reference {
  font-weight: bold;
  font-variant: small-caps;
}

/* End field settings */
